{% macro render_field(field) %}
        {{ field.label }}
        {% if field.errors %}
            {{ field(class='errorField', **kwargs)|safe }}
        {% else %}
            {{ field(**kwargs)|safe }}
        {% endif %}

        {% if field.flags.required %}
            <span class="req">*</span>
        {% endif %}
        {% if field.errors %}
                {% for error in field.errors %}
                <p class="err_desc ">{{ error }}</p>
                {% endfor %}
        {% endif %}
{% endmacro %}

{% macro render_field_reverse(field) %}
    <li class="formFieldContainerReverse margin-left_225">
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class="errors">
                {% for error in field.errors %}<li>{{ error }}{% endfor %}
            </ul>
        {% endif %}
        {{ field.label }}
    </li>
{% endmacro %}
