<!doctype html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <title>Practo MCQ Test</title>
    {% block head %}
    {% endblock %}
<style>
    div.header{
        background: url("{{ url_for('static', filename='images/logo.jpg') }}") no-repeat;
    }
</style>
</head>
<body>
    <a href="/">
    <div class="header">
        {% if active %}Time Remaining: {{ time_remaining_str }} {% endif %}
    </div>
    </a>
    <div class="inner-body">
    {% block content %} {% endblock %}      
    </div>
    {% if active %}
    <script>
       var time_remaining = {{ time_remaining|int }};
       var minutes = round(time_remaining / 60);
       var seconds = time_remaining - minutes * 60;
    </script>
    {% endif %}
</body>
</html>
