<!doctype html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <title>Practo MCQ Test</title>
    {% block head %}
    {% endblock %}
<style>
    div.header{
        background: url("{{ url_for('static', filename='images/logo.jpg') }}") no-repeat;
    }
</style>
</head>
<body>
    <div class="header">MyCQ</div>
    <div class="inner-body">
    {% block content %} {% endblock %}      
    </div>
</body>
</html>
