{% extends "layout.html" %}

{% block content %}
<form action="{{ url_for('finish') }}" method="POST">
<h2>Overview </h2>
<div class="legend">
Legend:
    <span class="answered legend-box">&nbsp</span> - Answered
    <span class="skipped legend-box">&nbsp</span> - Skipped
    <span class="new legend-box">&nbsp</span> - New
</ul>
</div>
{% for question in questions %}
<span >
    {% if question.status != 'answered' %}
    <a class="{{ question.status }} question-box" href={{ url_for('question', qid=question.id) }}>{{ question.id }}</a>
    {% else %}
    <span class="{{ question.status }} question-box">{{ question.id }}</span>
    {% endif %}
</span>
{% endfor %}
<div style="clear: both;">&nbsp;</div>
    {{ complete_form.csrf_token }}
    <input type="submit" value="Finish Test">
</form>

{% endblock %}
