{% extends "layout.html" %}

{% block content %}
<h2>Overview</h2>
{% for question in questions %}
<span class="{{ question.status }} question-box">
    {% if question.status != 'answered' %}
    <a href={{ url_for('question', qid=question.id) }}>{{ question.id }}</a>
    {% else %}
    <span>{{ question.id }}</span>
    {% endif %}
</span>
{% endfor %}
<div style="clear: both;">&nbsp;</div>
<form action="{{ url_for('finish') }}" method="POST">
    {{ complete_form.csrf_token }}
    <input type="submit" value="Finish Test">
</form>
<div style="float: right; border: 1px solid;">
Legend:
<ul>
    <li><span class="answered legend-box">&nbsp</span> - Answered</li>
    <li><span class="skipped legend-box">&nbsp</span> - Skipped</li>
    <li><span class="new legend-box">&nbsp</span> - New</li>
</ul>
</div>
{% endblock %}
