{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field with context %}
{% block content %}
<script>
    function answerLater(){
        frmAnswerLater.submit();
    }  
</script>
<form action="{{ url_for('question', qid=form.question.data) }}" method="POST" id="frmQuestion">
  {{ form.csrf_token }}
  <h2>Question</h2>
  <p>{{ form.question.label|safe }}</p>
  
  {{ render_field(form.answer) }}
  <input type="submit" value="Submit">   
  <input type="button" value="Answer Later" onClick="answerLater();" style="float:right;">
</form>
<form action="{{ url_for('skip_question', qid=form.question.data) }}" method="POST" name="frmAnswerLater">
  {{ skip_form.csrf_token }}
</form>
{% endblock %}
