{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field with context %}
{% block content %}
<form action="{{ url_for('question', qid=form.question.data) }}" method="POST" id="frmQuestion">
  {{ form.csrf_token }}
  <h2>Question</h2>
  <p>{{ form.question.label|safe }}</p>
  
  {{ render_field(form.answer) }}
  <input type="submit" value="Submit">   
  <script>
    document.write("<input type=\"button\" value=\"Answer Later\" onClick=\"answerLater();\" style=\"float:right;\">");
  </script>
</form>
<form action="{{ url_for('skip_question', qid=form.question.data) }}" method="POST" id="frmAnswerLater">
  {{ skip_form.csrf_token }}
  <noscript>
    <input type="submit" value="Answer Later">
  </noscript>
</form>
<script>
    function answerLater(){
        document.getElementById('frmAnswerLater').submit();
    }
    document.getElementById("answer").childNodes.forEach(function (item, index) {
       item.addEventListener("click", function () { this.childNodes[0].click()})
    })
</script>
{% endblock %}
