{% extends "layout.html" %}

{% block head %}
<meta http-equiv="refresh" content="15">
{% endblock %}

{% block content %}
  <form {% if active %} action="{{ url_for('question') }}" {% endif %}>
      <h2>Rules &amp; Instructions</h2>
      <ol>
        <li>Duration of the test is 20 minutes</li>
        <li>Once a question is answered it <strong>cannot</strong> be changed.</li>
        <li>You can skip any question and answer them later.</li>
        <li>You get <strong>+10</strong> for every correct answer and <strong>-5</strong> for every incorrect answer.</li>
      </ol>
  {% if active %}
      <input type="submit" value="Begin Test">
  {% endif %}
  </form>
{% endblock %}
