{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field with context %}
{% block content %}
<form action="{{ url_for('signup') }}" method="POST">
<h2>Registration</h2>
  {{ form.csrf_token }}
  <div>{{ render_field(form.name) }}</div>
  <div>{{ render_field(form.email) }}</div>
  <div>{{ render_field(form.cgpa) }}</div>
  <div>{{ render_field(form.branch) }}</div>
  <div>{{ render_field(form.token) }}</div>
  <label></label><input type="submit" value="Take Test">
</form>
{% endblock %}
